{% extends 'base.html.twig' %}

{% block title %}Hello CurrencyController!{% endblock %}

{% block body %}

<div class="container">
    <h1>Currency Exchange✅</h1>

    {{ include('currency/_currency_form.html.twig') }}  
</div>
{% endblock %}
