{% extends 'base.html.twig' %}

{% block title %}Company App{% endblock %}

{% block body %}
    {% include('navbar.html.twig') %}
    <div class='container-fluid container-home'>
        <h1 class='text-center mb-3'>Choose a section!!</h1>
        <ul class='d-flex flex-row justify-content-around align-items-center'>
            <li>
                <button class='btn btn-primary'>
                    <a class='home-button-anchor' href='{{ path('company_index') }}'>Companies</a>
                </button> 
            </li>
            <li>
                <button class='btn btn-primary'>
                    <a class='home-button-anchor' href='{{ path('sector_index') }}'>Sectors</a>
                </button> 
            </li>
        </ul>
    </div>
{% endblock %}
