a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  display: block;
}

.container-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background-color: #e1e6e2;
}

.home-button-anchor {
  color: #fff;
}

.btn:hover .home-button-anchor,
.home-button-anchor:hover {
  color: #ffff00; 
}

.btn:hover .company-button-anchor {
  color: #fff; 
}

.input-group > .form-control {
  text-align: center;
}

.border-radious-none {
  border-radius: 0;
}

.pagination {
  justify-content: center;
}

.pagination > span {
  display: block;
  padding: .3rem;
  border: .1rem solid #0d6efd;
  cursor: pointer;
}

.pagination > span:first-child {
  border-radius: .25rem 0 0 .25rem
}

.pagination > span:last-child {
  border-radius: 0 .25rem .25rem 0
}

.pagination > span > a {
  padding: .3rem;
  font-weight: 400;
}

.pagination > span:hover,
.pagination > span:active,
.current {
  background-color: #0d6efd;
}

.pagination > span:hover a,
.pagination > span:active a,
.current {
  color: #fff;
  font-weight: 400;
}

/* Login */

.form-signin {
  max-width: 430px;
  padding: 1rem;
  margin: 0 auto;
}

.form-signin .form-signin-heading, .form-signin .checkbox {
  margin-bottom: .6rem;
}

.box-form {
  max-width: 510px;
}

.input-group > .form-select {
  width: 100px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  padding: 1rem;
  font-size: 1.1rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="text"] {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 1rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.account-wall {
  margin-top: 1.9rem;
  padding: 2.8rem 0 1.9rem 0;
  background-color: #f7f7f7;
  -moz-box-shadow: 0 .2rem .2rem rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 .2rem .2rem rgba(0, 0, 0, 0.3);
  box-shadow: 0 .2rem .2rem rgba(0, 0, 0, 0.3);
}

.main-title {
  padding: 1rem 1rem;
  background-color: rgb(113, 167, 43);
  color: #fff;
}

.login-title {
  display: block;
  font-weight: 400;
  color: #555;
  font-size: 1.5rem;
}

.profile-img {
  display: block;
  width: 96px;
  height: 96px;
  margin: 0 auto 1rem;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}