{% extends 'base.html.twig' %}

{% block title %}Company App{% endblock %}

{% block body %}
    {% include('navbar.html.twig') %}
    <div class='container'>
        <h1 class='mt-5'>Create new Company</h1>

        {{ include('company/_form.html.twig') }}
    </div>
{% endblock %}
