{% extends 'base.html.twig' %}

{% block title %}Company App{% endblock %}

{% block body %}
    {% include('navbar.html.twig') %}
    <div class='container'>
        <h1 class='mt-5'>Edit Sector</h1>

        {{ include('sector/_form.html.twig', {'button_label': 'Update'}) }}
    </div>
{% endblock %}
